@model IEnumerable<BLL.CategoriesDTO>

<h2>Categories <span></span></h2>
<div class="box-content">
    @if (Model != null)
    {
        <ul>
            <li><a href="@Url.Action("Index", "Home", new { id=""})">All</a></li>

            @foreach (var i in Model)
            {
                <li><a href="@Url.Action("Index", "Home", new { id = i.Id })">@i.CategoryName</a></li>
            }

        </ul>
    }
</div>
