@using GameShop.Models
@model IList<CategoryViewModel>

    <h2>Categories <span></span></h2>
    <div class="box-content">
        <ul>
            <li><a href="#">Category 1</a></li>
            <li><a href="#">Category 2</a></li>
            <li><a href="#">Category 3</a></li>
            <li><a href="#">Category 4</a></li>
            <li class="last"><a href="#">Category 5</a></li>
            @foreach (var item in Model)
            {
                <tr>
                    <li>item.CategoryName</li>
                </tr>
            }
        </ul>
    </div>
